
body {
	font-family: 'Poppins', 'Raleway', sans-serif;
	box-sizing: border-box;
	background-image:url("images/night.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
/*
div {
	border: 1px solid black;
	min-height: 200px;
} */

#banner{

}

#navtext {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}



